In [1]:
%load_ext autoreload

import pandas as pd
import datetime
import math
import numpy as np
import matplotlib.pyplot as plt
import classes as cl
import plotly
import plotly.plotly as py
import plotly.graph_objs as go

%matplotlib inline

In [2]:
import deltaengine.forecast as fc
import deltaengine.describe as ds

fc = ds.Forecast(365)

forecast = fc.describe_year(2019)

[balance                           155
date       2019-01-01 18:46:40.116833
change                           -596
Name: 34, dtype: object, balance                           131
date       2019-01-02 18:46:40.116834
change                            -24
Name: 35, dtype: object, balance                           107
date       2019-01-03 18:46:40.116836
change                            -24
Name: 36, dtype: object, balance                          3283
date       2019-01-04 18:46:40.116838
change                           3176
Name: 37, dtype: object, balance                          3259
date       2019-01-05 18:46:40.116839
change                            -24
Name: 38, dtype: object, balance                          3235
date       2019-01-06 18:46:40.116841
change                            -24
Name: 39, dtype: object, balance                          1111
date       2019-01-07 18:46:40.116843
change                          -2124
Name: 40, dtype: object, balance                          1087
date       2019-01-08 18:46:40.116844
change                            -24
Name: 41, dtype: object, balance                          1063
date       2019-01-09 18:46:40.116846
change                            -24
Name: 42, dtype: object, balance                          1039
date       2019-01-10 18:46:40.116848
change                            -24
Name: 43, dtype: object, balance                          1015
date       2019-01-11 18:46:40.116849
change                            -24
Name: 44, dtype: object, balance                           991
date       2019-01-12 18:46:40.116851
change                            -24
Name: 45, dtype: object, balance                           967
date       2019-01-13 18:46:40.116852
change                            -24
Name: 46, dtype: object, balance                           398
date       2019-01-14 18:46:40.116854
change                           -569
Name: 47, dtype: object, balance                           274
date       2019-01-15 18:46:40.116856
change                           -124
Name: 48, dtype: object, balance                           250
date       2019-01-16 18:46:40.116858
change                            -24
Name: 49, dtype: object, balance                           226
date       2019-01-17 18:46:40.116859
change                            -24
Name: 50, dtype: object, balance                          3402
date       2019-01-18 18:46:40.116861
change                           3176
Name: 51, dtype: object, balance                          3378
date       2019-01-19 18:46:40.116862
change                            -24
Name: 52, dtype: object, balance                          3354
date       2019-01-20 18:46:40.116864
change                            -24
Name: 53, dtype: object, balance                          3330
date       2019-01-21 18:46:40.116866
change                            -24
Name: 54, dtype: object, balance                          3306
date       2019-01-22 18:46:40.116867
change                            -24
Name: 55, dtype: object, balance                          3282
date       2019-01-23 18:46:40.116869
change                            -24
Name: 56, dtype: object, balance                          3258
date       2019-01-24 18:46:40.116871
change                            -24
Name: 57, dtype: object, balance                          2506
date       2019-01-25 18:46:40.116872
change                           -752
Name: 58, dtype: object, balance                          2482
date       2019-01-26 18:46:40.116875
change                            -24
Name: 59, dtype: object, balance                          2458
date       2019-01-27 18:46:40.116876
change                            -24
Name: 60, dtype: object, balance                          2434
date       2019-01-28 18:46:40.116878
change                            -24
Name: 61, dtype: object, balance                          2410
date       2019-01-29 18:46:40.116880
change                            -24
Name: 62, dtype: object, balance                          2386
date       2019-01-30 18:46:40.116881
change                            -24
Name: 63, dtype: object, balance                          2362
date       2019-01-31 18:46:40.116883
change                            -24
Name: 64, dtype: object] 1 2019
[balance                          4966
date       2019-02-01 18:46:40.116885
change                           2604
Name: 65, dtype: object, balance                          4942
date       2019-02-02 18:46:40.116886
change                            -24
Name: 66, dtype: object, balance                          4918
date       2019-02-03 18:46:40.116888
change                            -24
Name: 67, dtype: object, balance                          4894
date       2019-02-04 18:46:40.116890
change                            -24
Name: 68, dtype: object, balance                          4870
date       2019-02-05 18:46:40.116891
change                            -24
Name: 69, dtype: object, balance                          4846
date       2019-02-06 18:46:40.116893
change                            -24
Name: 70, dtype: object, balance                          2722
date       2019-02-07 18:46:40.116895
change                          -2124
Name: 71, dtype: object, balance                          2698
date       2019-02-08 18:46:40.116896
change                            -24
Name: 72, dtype: object, balance                          2674
date       2019-02-09 18:46:40.116898
change                            -24
Name: 73, dtype: object, balance                          2650
date       2019-02-10 18:46:40.116900
change                            -24
Name: 74, dtype: object, balance                          2626
date       2019-02-11 18:46:40.116902
change                            -24
Name: 75, dtype: object, balance                          2602
date       2019-02-12 18:46:40.116904
change                            -24
Name: 76, dtype: object, balance                          2578
date       2019-02-13 18:46:40.116905
change                            -24
Name: 77, dtype: object, balance                          2009
date       2019-02-14 18:46:40.116914
change                           -569
Name: 78, dtype: object, balance                          5085
date       2019-02-15 18:46:40.116916
change                           3076
Name: 79, dtype: object, balance                          5061
date       2019-02-16 18:46:40.116918
change                            -24
Name: 80, dtype: object, balance                          5037
date       2019-02-17 18:46:40.116920
change                            -24
Name: 81, dtype: object, balance                          5013
date       2019-02-18 18:46:40.116921
change                            -24
Name: 82, dtype: object, balance                          4989
date       2019-02-19 18:46:40.116923
change                            -24
Name: 83, dtype: object, balance                          4965
date       2019-02-20 18:46:40.116924
change                            -24
Name: 84, dtype: object, balance                          4941
date       2019-02-21 18:46:40.116926
change                            -24
Name: 85, dtype: object, balance                          4917
date       2019-02-22 18:46:40.116928
change                            -24
Name: 86, dtype: object, balance                          4893
date       2019-02-23 18:46:40.116929
change                            -24
Name: 87, dtype: object, balance                          4869
date       2019-02-24 18:46:40.116931
change                            -24
Name: 88, dtype: object, balance                          4117
date       2019-02-25 18:46:40.116933
change                           -752
Name: 89, dtype: object, balance                          4093
date       2019-02-26 18:46:40.116934
change                            -24
Name: 90, dtype: object, balance                          4069
date       2019-02-27 18:46:40.116936
change                            -24
Name: 91, dtype: object, balance                          4045
date       2019-02-28 18:46:40.116938
change                            -24
Name: 92, dtype: object] 2 2019
[balance                          6649
date       2019-03-01 18:46:40.116939
change                           2604
Name: 93, dtype: object, balance                          6625
date       2019-03-02 18:46:40.116941
change                            -24
Name: 94, dtype: object, balance                          6601
date       2019-03-03 18:46:40.116943
change                            -24
Name: 95, dtype: object, balance                          6577
date       2019-03-04 18:46:40.116944
change                            -24
Name: 96, dtype: object, balance                          6553
date       2019-03-05 18:46:40.116946
change                            -24
Name: 97, dtype: object, balance                          6529
date       2019-03-06 18:46:40.116948
change                            -24
Name: 98, dtype: object, balance                          4405
date       2019-03-07 18:46:40.116949
change                          -2124
Name: 99, dtype: object, balance                          4381
date       2019-03-08 18:46:40.116951
change                            -24
Name: 100, dtype: object, balance                          4357
date       2019-03-09 18:46:40.116953
change                            -24
Name: 101, dtype: object, balance                          4333
date       2019-03-10 18:46:40.116954
change                            -24
Name: 102, dtype: object, balance                          4309
date       2019-03-11 18:46:40.116956
change                            -24
Name: 103, dtype: object, balance                          4285
date       2019-03-12 18:46:40.116957
change                            -24
Name: 104, dtype: object, balance                          4261
date       2019-03-13 18:46:40.116959
change                            -24
Name: 105, dtype: object, balance                          3692
date       2019-03-14 18:46:40.116961
change                           -569
Name: 106, dtype: object, balance                          6768
date       2019-03-15 18:46:40.116962
change                           3076
Name: 107, dtype: object, balance                          6744
date       2019-03-16 18:46:40.116964
change                            -24
Name: 108, dtype: object, balance                          6720
date       2019-03-17 18:46:40.116966
change                            -24
Name: 109, dtype: object, balance                          6696
date       2019-03-18 18:46:40.116967
change                            -24
Name: 110, dtype: object, balance                          6672
date       2019-03-19 18:46:40.116969
change                            -24
Name: 111, dtype: object, balance                          6648
date       2019-03-20 18:46:40.116971
change                            -24
Name: 112, dtype: object, balance                          6624
date       2019-03-21 18:46:40.116972
change                            -24
Name: 113, dtype: object, balance                          6600
date       2019-03-22 18:46:40.116974
change                            -24
Name: 114, dtype: object, balance                          6576
date       2019-03-23 18:46:40.116976
change                            -24
Name: 115, dtype: object, balance                          6552
date       2019-03-24 18:46:40.116977
change                            -24
Name: 116, dtype: object, balance                          5800
date       2019-03-25 18:46:40.116979
change                           -752
Name: 117, dtype: object, balance                          5776
date       2019-03-26 18:46:40.116980
change                            -24
Name: 118, dtype: object, balance                          5752
date       2019-03-27 18:46:40.116982
change                            -24
Name: 119, dtype: object, balance                          5728
date       2019-03-28 18:46:40.116984
change                            -24
Name: 120, dtype: object, balance                          8904
date       2019-03-29 18:46:40.116985
change                           3176
Name: 121, dtype: object, balance                          8880
date       2019-03-30 18:46:40.116987
change                            -24
Name: 122, dtype: object, balance                          8856
date       2019-03-31 18:46:40.116989
change                            -24
Name: 123, dtype: object] 3 2019
[balance                          8260
date       2019-04-01 18:46:40.116990
change                           -596
Name: 124, dtype: object, balance                          8236
date       2019-04-02 18:46:40.116992
change                            -24
Name: 125, dtype: object, balance                          8212
date       2019-04-03 18:46:40.116994
change                            -24
Name: 126, dtype: object, balance                          8188
date       2019-04-04 18:46:40.116996
change                            -24
Name: 127, dtype: object, balance                          8164
date       2019-04-05 18:46:40.116998
change                            -24
Name: 128, dtype: object, balance                          8140
date       2019-04-06 18:46:40.116999
change                            -24
Name: 129, dtype: object, balance                          6016
date       2019-04-07 18:46:40.117001
change                          -2124
Name: 130, dtype: object, balance                          5992
date       2019-04-08 18:46:40.117003
change                            -24
Name: 131, dtype: object, balance                          5968
date       2019-04-09 18:46:40.117004
change                            -24
Name: 132, dtype: object, balance                          5944
date       2019-04-10 18:46:40.117006
change                            -24
Name: 133, dtype: object, balance                          5920
date       2019-04-11 18:46:40.117008
change                            -24
Name: 134, dtype: object, balance                          9096
date       2019-04-12 18:46:40.117009
change                           3176
Name: 135, dtype: object, balance                          9072
date       2019-04-13 18:46:40.117011
change                            -24
Name: 136, dtype: object, balance                          8503
date       2019-04-14 18:46:40.117013
change                           -569
Name: 137, dtype: object, balance                          8379
date       2019-04-15 18:46:40.117014
change                           -124
Name: 138, dtype: object, balance                          8355
date       2019-04-16 18:46:40.117016
change                            -24
Name: 139, dtype: object, balance                          8331
date       2019-04-17 18:46:40.117017
change                            -24
Name: 140, dtype: object, balance                          8307
date       2019-04-18 18:46:40.117019
change                            -24
Name: 141, dtype: object, balance                          8283
date       2019-04-19 18:46:40.117021
change                            -24
Name: 142, dtype: object, balance                          8259
date       2019-04-20 18:46:40.117022
change                            -24
Name: 143, dtype: object, balance                          8235
date       2019-04-21 18:46:40.117024
change                            -24
Name: 144, dtype: object, balance                          8211
date       2019-04-22 18:46:40.117026
change                            -24
Name: 145, dtype: object, balance                          8187
date       2019-04-23 18:46:40.117027
change                            -24
Name: 146, dtype: object, balance                          8163
date       2019-04-24 18:46:40.117029
change                            -24
Name: 147, dtype: object, balance                          7411
date       2019-04-25 18:46:40.117031
change                           -752
Name: 148, dtype: object, balance                         10587
date       2019-04-26 18:46:40.117033
change                           3176
Name: 149, dtype: object, balance                         10563
date       2019-04-27 18:46:40.117034
change                            -24
Name: 150, dtype: object, balance                         10539
date       2019-04-28 18:46:40.117036
change                            -24
Name: 151, dtype: object, balance                         10515
date       2019-04-29 18:46:40.117038
change                            -24
Name: 152, dtype: object, balance                         10491
date       2019-04-30 18:46:40.117039
change                            -24
Name: 153, dtype: object] 4 2019
[balance                          9895
date       2019-05-01 18:46:40.117041
change                           -596
Name: 154, dtype: object, balance                          9871
date       2019-05-02 18:46:40.117043
change                            -24
Name: 155, dtype: object, balance                          9847
date       2019-05-03 18:46:40.117044
change                            -24
Name: 156, dtype: object, balance                          9823
date       2019-05-04 18:46:40.117046
change                            -24
Name: 157, dtype: object, balance                          9799
date       2019-05-05 18:46:40.117048
change                            -24
Name: 158, dtype: object, balance                          9775
date       2019-05-06 18:46:40.117049
change                            -24
Name: 159, dtype: object, balance                          7651
date       2019-05-07 18:46:40.117051
change                          -2124
Name: 160, dtype: object, balance                          7627
date       2019-05-08 18:46:40.117053
change                            -24
Name: 161, dtype: object, balance                          7603
date       2019-05-09 18:46:40.117054
change                            -24
Name: 162, dtype: object, balance                         10779
date       2019-05-10 18:46:40.117056
change                           3176
Name: 163, dtype: object, balance                         10755
date       2019-05-11 18:46:40.117057
change                            -24
Name: 164, dtype: object, balance                         10731
date       2019-05-12 18:46:40.117059
change                            -24
Name: 165, dtype: object, balance                         10707
date       2019-05-13 18:46:40.117061
change                            -24
Name: 166, dtype: object, balance                         10138
date       2019-05-14 18:46:40.117062
change                           -569
Name: 167, dtype: object, balance                         10014
date       2019-05-15 18:46:40.117064
change                           -124
Name: 168, dtype: object, balance                          9990
date       2019-05-16 18:46:40.117066
change                            -24
Name: 169, dtype: object, balance                          9966
date       2019-05-17 18:46:40.117067
change                            -24
Name: 170, dtype: object, balance                          9942
date       2019-05-18 18:46:40.117069
change                            -24
Name: 171, dtype: object, balance                          9918
date       2019-05-19 18:46:40.117071
change                            -24
Name: 172, dtype: object, balance                          9894
date       2019-05-20 18:46:40.117072
change                            -24
Name: 173, dtype: object, balance                          9870
date       2019-05-21 18:46:40.117075
change                            -24
Name: 174, dtype: object, balance                          9846
date       2019-05-22 18:46:40.117077
change                            -24
Name: 175, dtype: object, balance                          9822
date       2019-05-23 18:46:40.117078
change                            -24

[balance                         13141
date       2019-07-01 18:46:40.117147
change                           -596
Name: 215, dtype: object, balance                         13117
date       2019-07-02 18:46:40.117149
change                            -24
Name: 216, dtype: object, balance                         13093
date       2019-07-03 18:46:40.117150
change                            -24
Name: 217, dtype: object, balance                         13069
date       2019-07-04 18:46:40.117152
change                            -24
Name: 218, dtype: object, balance                         16245
date       2019-07-05 18:46:40.117153
change                           3176
Name: 219, dtype: object, balance                         16221
date       2019-07-06 18:46:40.117155
change                            -24
Name: 220, dtype: object, balance                         14097
date       2019-07-07 18:46:40.117157
change                          -2124
Name: 221, dtype: object, balance                         14073
date       2019-07-08 18:46:40.117158
change                            -24
Name: 222, dtype: object, balance                         14049
date       2019-07-09 18:46:40.117160
change                            -24
Name: 223, dtype: object, balance                         14025
date       2019-07-10 18:46:40.117162
change                            -24
Name: 224, dtype: object, balance                         14001
date       2019-07-11 18:46:40.117163
change                            -24
Name: 225, dtype: object, balance                         13977
date       2019-07-12 18:46:40.117165
change                            -24
Name: 226, dtype: object, balance                         13953
date       2019-07-13 18:46:40.117167
change                            -24
Name: 227, dtype: object, balance                         13384
date       2019-07-14 18:46:40.117168
change                           -569
Name: 228, dtype: object, balance                         13260
date       2019-07-15 18:46:40.117170
change                           -124
Name: 229, dtype: object, balance                         13236
date       2019-07-16 18:46:40.117172
change                            -24
Name: 230, dtype: object, balance                         13212
date       2019-07-17 18:46:40.117173
change                            -24
Name: 231, dtype: object, balance                         13188
date       2019-07-18 18:46:40.117175
change                            -24
Name: 232, dtype: object, balance                         16364
date       2019-07-19 18:46:40.117176
change                           3176
Name: 233, dtype: object, balance                         16340
date       2019-07-20 18:46:40.117178
change                            -24
Name: 234, dtype: object, balance                         16316
date       2019-07-21 18:46:40.117180
change                            -24
Name: 235, dtype: object, balance                         16292
date       2019-07-22 18:46:40.117182
change                            -24
Name: 236, dtype: object, balance                         16268
date       2019-07-23 18:46:40.117183
change                            -24
Name: 237, dtype: object, balance                         16244
date       2019-07-24 18:46:40.117185
change                            -24
Name: 238, dtype: object, balance                         15492
date       2019-07-25 18:46:40.117187
change                           -752
Name: 239, dtype: object, balance                         15468
date       2019-07-26 18:46:40.117188
change                            -24
Name: 240, dtype: object, balance                         15444
date       2019-07-27 18:46:40.117190
change                            -24
Name: 241, dtype: object, balance                         15420
date       2019-07-28 18:46:40.117192
change                            -24
Name: 242, dtype: object, balance                         15396
date       2019-07-29 18:46:40.117193
change                            -24
Name: 243, dtype: object, balance                         15372
date       2019-07-30 18:46:40.117195
change                            -24
Name: 244, dtype: object, balance                         15348
date       2019-07-31 18:46:40.117197
change                            -24
Name: 245, dtype: object] 7 2019
[balance                         14752
date       2019-08-01 18:46:40.117198
change                           -596
Name: 246, dtype: object, balance                         17928
date       2019-08-02 18:46:40.117200
change                           3176
Name: 247, dtype: object, balance                         17904
date       2019-08-03 18:46:40.117201
change                            -24
Name: 248, dtype: object, balance                         17880
date       2019-08-04 18:46:40.117203
change                            -24
Name: 249, dtype: object, balance                         17856
date       2019-08-05 18:46:40.117205
change                            -24
Name: 250, dtype: object, balance                         17832
date       2019-08-06 18:46:40.117206
change                            -24
Name: 251, dtype: object, balance                         15708
date       2019-08-07 18:46:40.117208
change                          -2124
Name: 252, dtype: object, balance                         15684
date       2019-08-08 18:46:40.117210
change                            -24
Name: 253, dtype: object, balance                         15660
date       2019-08-09 18:46:40.117211
change                            -24
Name: 254, dtype: object, balance                         15636
date       2019-08-10 18:46:40.117213
change                            -24
Name: 255, dtype: object, balance                         15612
date       2019-08-11 18:46:40.117215
change                            -24
Name: 256, dtype: object, balance                         15588
date       2019-08-12 18:46:40.117216
change                            -24
Name: 257, dtype: object, balance                         15564
date       2019-08-13 18:46:40.117218
change                            -24
Name: 258, dtype: object, balance                         14995
date       2019-08-14 18:46:40.117220
change                           -569
Name: 259, dtype: object, balance                         14871
date       2019-08-15 18:46:40.117221
change                           -124
Name: 260, dtype: object, balance                         18047
date       2019-08-16 18:46:40.117223
change                           3176
Name: 261, dtype: object, balance                         18023
date       2019-08-17 18:46:40.117225
change                            -24
Name: 262, dtype: object, balance                         17999
date       2019-08-18 18:46:40.117226
change                            -24
Name: 263, dtype: object, balance                         17975
date       2019-08-19 18:46:40.117228
change                            -24
Name: 264, dtype: object, balance                         17951
date       2019-08-20 18:46:40.117230
change                            -24
Name: 265, dtype: object, balance                         17927
date       2019-08-21 18:46:40.117231
change                            -24
Name: 266, dtype: object, balance                         17903
date       2019-08-22 18:46:40.117233
change                            -24
Name: 267, dtype: object, balance                         17879
date       2019-08-23 18:46:40.117235
change                            -24
Name: 268, dtype: object, balance                         17855
date       2019-08-24 18:46:40.117236
change                            -24
Name: 269, dtype: object, balance                         17103
date       2019-08-25 18:46:40.117238
change                           -752
Name: 270, dtype: object, balance                         17079
date       2019-08-26 18:46:40.117240
change                            -24
Name: 271, dtype: object, balance                         17055
date       2019-08-27 18:46:40.117242
change                            -24
Name: 272, dtype: object, balance                         17031
date       2019-08-28 18:46:40.117243
change                            -24
Name: 273, dtype: object, balance                         17007
date       2019-08-29 18:46:40.117245
change                            -24
Name: 274, dtype: object, balance                         20183
date       2019-08-30 18:46:40.117247
change                           3176
Name: 275, dtype: object, balance                         20159
date       2019-08-31 18:46:40.117248
change                            -24
Name: 276, dtype: object] 8 2019
[balance                         19563
date       2019-09-01 18:46:40.117250
change                           -596
Name: 277, dtype: object, balance                         19539
date       2019-09-02 18:46:40.117252
change                            -24
Name: 278, dtype: object, balance                         19515
date       2019-09-03 18:46:40.117253
change                            -24
Name: 279, dtype: object, balance                         19491
date       2019-09-04 18:46:40.117259
change                            -24
Name: 280, dtype: object, balance                         19467
date       2019-09-05 18:46:40.117261
change                            -24
Name: 281, dtype: object, balance                         19443
date       2019-09-06 18:46:40.117263
change                            -24
Name: 282, dtype: object, balance                         17319
date       2019-09-07 18:46:40.117264
change                          -2124
Name: 283, dtype: object, balance                         17295
date       2019-09-08 18:46:40.117266
change                            -24
Name: 284, dtype: object, balance                         17271
date       2019-09-09 18:46:40.117268
change                            -24
Name: 285, dtype: object, balance                         17247
date       2019-09-10 18:46:40.117269
change                            -24
Name: 286, dtype: object, balance                         17223
date       2019-09-11 18:46:40.117271
change                            -24
Name: 287, dtype: object, balance                         17199
date       2019-09-12 18:46:40.117273
change                            -24
Name: 288, dtype: object, balance                         20375
date       2019-09-13 18:46:40.117274
change                           3176
Name: 289, dtype: object, balance                         19806
date       2019-09-14 18:46:40.117276
change                           -569
Name: 290, dtype: object, balance                         19682
date       2019-09-15 18:46:40.117278
change                           -124
Name: 291, dtype: object, balance                         19658
date       2019-09-16 18:46:40.117279
change                            -24
Name: 292, dtype: object, balance                         19634
date       2019-09-17 18:46:40.117281
change                            -24
Name: 293, dtype: object, balance                         19610
date       2019-09-18 18:46:40.117283
change                            -24
Name: 294, dtype: object, balance                         19586
date       2019-09-19 18:46:40.117284
change                            -24
Name: 295, dtype: object, balance                         19562
date       2019-09-20 18:46:40.117286
change                            -24
Name: 296, dtype: object, balance                         19538
date       2019-09-21 18:46:40.117288
change                            -24
Name: 297, dtype: object, balance                         19514
date       2019-09-22 18:46:40.117289
change                            -24
Name: 298, dtype: object, balance                         19490
date       2019-09-23 18:46:40.117291
change                            -24
Name: 299, dtype: object, balance                         19466
date       2019-09-24 18:46:40.117293
change                            -24
Name: 300, dtype: object, balance                         18714
date       2019-09-25 18:46:40.117294
change                           -752
Name: 301, dtype: object, balance                         18690
date       2019-09-26 18:46:40.117296
change                            -24
Name: 302, dtype: object, balance                         21866
date       2019-09-27 18:46:40.117298
change                           3176
Name: 303, dtype: object, balance                         21842
date       2019-09-28 18:46:40.117299
change                            -24
Name: 304, dtype: object, balance                         21818
date       2019-09-29 18:46:40.117301
change                            -24
Name: 305, dtype: object, balance                         21794
date       2019-09-30 18:46:40.117303
change                            -24
Name: 306, dtype: object] 9 2019
[balance                         21198
date       2019-10-01 18:46:40.117305
change                           -596
Name: 307, dtype: object, balance                         21174
date       2019-10-02 18:46:40.117306
change                            -24
Name: 308, dtype: object, balance                         21150
date       2019-10-03 18:46:40.117308
change                            -24
Name: 309, dtype: object, balance                         21126
date       2019-10-04 18:46:40.117310
change                            -24
Name: 310, dtype: object, balance                         21102
date       2019-10-05 18:46:40.117312
change                            -24
Name: 311, dtype: object, balance                         21078
date       2019-10-06 18:46:40.117313
change                            -24
Name: 312, dtype: object, balance                         18954
date       2019-10-07 18:46:40.117315
change                          -2124
Name: 313, dtype: object, balance                         18930
date       2019-10-08 18:46:40.117317
change                            -24
Name: 314, dtype: object, balance                         18906
date       2019-10-09 18:46:40.117318
change                            -24
Name: 315, dtype: object, balance                         18882
date       2019-10-10 18:46:40.117320
change                            -24
Name: 316, dtype: object, balance                         22058
date       2019-10-11 18:46:40.117322
change                           3176
Name: 317, dtype: object, balance                         22034
date       2019-10-12 18:46:40.117323
change                            -24
Name: 318, dtype: object, balance                         22010
date       2019-10-13 18:46:40.117325
change                            -24
Name: 319, dtype: object, balance                         21441
date       2019-10-14 18:46:40.117327
change                           -569
Name: 320, dtype: object, balance                         21317
date       2019-10-15 18:46:40.117328
change                           -124
Name: 321, dtype: object, balance                         21293
date       2019-10-16 18:46:40.117330
change                            -24
Name: 322, dtype: object, balance                         21269
date       2019-10-17 18:46:40.117332
change                            -24
Name: 323, dtype: object, balance                         21245
date       2019-10-18 18:46:40.117333
change                            -24
Name: 324, dtype: object, balance                         21221
date       2019-10-19 18:46:40.117335
change                            -24
Name: 325, dtype: object, balance                         21197
date       2019-10-20 18:46:40.117337
change                            -24
Name: 326, dtype: object, balance                         21173
date       2019-10-21 18:46:40.117338
change                            -24
Name: 327, dtype: object, balance                         21149
date       2019-10-22 18:46:40.117340
change                            -24
Name: 328, dtype: object, balance                         21125
date       2019-10-23 18:46:40.117342
change                            -24
Name: 329, dtype: object, balance                         21101
date       2019-10-24 18:46:40.117343
change                            -24
Name: 330, dtype: object, balance                         23549
date       2019-10-25 18:46:40.117345
change                           2448
Name: 331, dtype: object, balance                         23525
date       2019-10-26 18:46:40.117347
change                            -24
Name: 332, dtype: object, balance                         23501
date       2019-10-27 18:46:40.117348
change                            -24
Name: 333, dtype: object, balance                         23477
date       2019-10-28 18:46:40.117350
change                            -24
Name: 334, dtype: object, balance                         23453
date       2019-10-29 18:46:40.117352
change                            -24
Name: 335, dtype: object, balance                         23429
date       2019-10-30 18:46:40.117353
change                            -24
Name: 336, dtype: object, balance                         23405
date       2019-10-31 18:46:40.117355
change                            -24
Name: 337, dtype: object] 10 2019
[balance                         22809
date       2019-11-01 18:46:40.117357
change                           -596
Name: 338, dtype: object, balance                         22785
date       2019-11-02 18:46:40.117359
change                            -24
Name: 339, dtype: object, balance                         22761
date       2019-11-03 18:46:40.117360
change                            -24
Name: 340, dtype: object, balance                         22737
date       2019-11-04 18:46:40.117362
change                            -24
Name: 341, dtype: object, balance                         22713
date       2019-11-05 18:46:40.117364
change                            -24
Name: 342, dtype: object, balance                         22689
date       2019-11-06 18:46:40.117365
change                            -24
Name: 343, dtype: object, balance                         20565
date       2019-11-07 18:46:40.117367
change                          -2124
Name: 344, dtype: object, balance                         23741
date       2019-11-08 18:46:40.117369
change                           3176
Name: 345, dtype: object, balance                         23717
date       2019-11-09 18:46:40.117370
change                            -24
Name: 346, dtype: object, balance                         23693
date       2019-11-10 18:46:40.117372
change                            -24
Name: 347, dtype: object, balance                         23669
date       2019-11-11 18:46:40.117374
change                            -24
Name: 348, dtype: object, balance                         23645
date       2019-11-12 18:46:40.117375
change                            -24
Name: 349, dtype: object, balance                         23621
date       2019-11-13 18:46:40.117377
change                            -24
Name: 350, dtype: object, balance                         23052
date       2019-11-14 18:46:40.117379
change                           -569
Name: 351, dtype: object, balance                         22928
date       2019-11-15 18:46:40.117380
change                           -124
Name: 352, dtype: object, balance                         22904
date       2019-11-16 18:46:40.117382
change                            -24
Name: 353, dtype: object, balance                         22880
date       2019-11-17 18:46:40.117384
change                            -24
Name: 354, dtype: object, balance                         22856
date       2019-11-18 18:46:40.117386
change                            -24
Name: 355, dtype: object, balance                         22832
date       2019-11-19 18:46:40.117387
change                            -24
Name: 356, dtype: object, balance                         22808
date       2019-11-20 18:46:40.117389

[] 12 2019

IndexError: list index out of range

In [ ]:
forecast.frame().head()